Greetings,

Someone, hopefully you, requested to register a new peer. 

Please review and approve the change by clicking here - {{.}} 
. This link self destructs in 5 minutes.

If you got this message by mistake, we're sorry. Please reply and let us know.

Best,

PeerBook emailer
https:///pb.terminal7.dev
