    <title>Peerbook updates for your approval</title>
</head>
<p>
Someone, hopefully you, requested to update your new peer list. 
</p>
<p>Please click <a href="{{.}}">here</a> to access your list
in the next 5 minutes.
</p>
<p>
If you got this message by mistake, we're sorry, please reply to let 
support know.
</p>
<p>
Best,
<br>
PeerBook emailer
<br>
https://peerbook.io
</p>
