Greetings,

Someone, hopefully you, requested access to your peers list.

Please click here - {{.}} - to view your peers list and:
- [un]verify peers
- remove peers
- remove all user data

This link self destructs in 5 minutes.

If you got this message by mistake, we're sorry. Please reply and let us know.

Best,

PeerBook emailer
https://api.peerbook.io
