    <title>Peerbook updates for your approval</title>
</head>
<p>
Someone, hopefully you, requested access to your peers list.
</p>
<p>Please click <a href="{{.}}">here</a> to view your peers list and:
</p>
<ul>
    <li>[un]verify peers</li>
    <li>remove peers</li>
    <li>celete all your data</li>
</ul>
<p>
If you got this message by mistake, we're sorry, please reply to let 
support know.
</p>
<p>
This link self destructs in 5 minutes.
<br>
PeerBook emailer
<br>
https://peerbook.io
</p>
