Click & verify your new Terminal7 client


Dear User,

Seems like there's a Terminal7 client that is waiting your approval.
To approve please click - {{.URL}}

If you find this email wrong, we're sorry. Please reply to let us know what is wrong.

PeerBook emailer
{{.HomeURL}}
