<title>Click & verify your new Terminal7 client</title>
</head>
<p>
Dear User,
</p>
<p>
Seems like there's a Terminal7 client that is waiting your approvel.
Please click <a href="{{.URL}}">here</a> to approve.
</p>
<p>
If you find this email wrong, we're sorry. Please reply
to let us know what is wrong.
</p>
<br>
PeerBook emailer
<br>
{{.HomeURL}}
